@using GameDeckWebApplication.Models


@model JeuVM

@{ string title = $"{Model?.Nom}";
    ViewBag.Title = $"Détail " + title; }

<div class="mx-auto mt-5 w-75 align-self-center align-items-center justify-content-center">
    <div class="justify-content-center text-center">
        <h1>@title</h1>
        <p>Sortie le @Model.DateSortie.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="d-flex flex-row justify-content-center text-start gap-2">
        <div class="d-flex flex-column align-items-stretch gap-2">
            <p class="m-0">Editeur</p>
            <p class="m-0">Catégorie</p>
        </div>
        <div class="d-flex flex-column align-items-stretch text-primary gap-2">
            <b class="m-0">@Model.EditeurObj.Nom</b>
            <b class="m-0">@Model.GenreObj.Nom</b>
        </div>
    </div>
    <div class="mt-2">
        <p class="my-0 mx-2">Description</p>
        <div class="border border-primary rounded-2 p-2 bg-primary bg-opacity-25">
            <p>@Model.Description</p>
        </div>
    </div>
    @if (Model.Experiences != null)
    {
        <div class="d-flex flex-row mx-2 mt-2 pb-2 border-bottom border-primary gap-2">
            <p class="m-0">Temps de jeu moyen</p>
            <b class="m-0 ms-auto text-primary">@Model.Experiences.Select(e => (e.TempsJeu.TotalSeconds / 3600)).Average().ToString("0.##") h</b>
        </div>
    }

    @if (Model.Evaluations != null)
    {
        <div class="mx-auto mt-2">
            <div class="d-flex flex-row mx-2 gap-2">
                <p class="m-0">Evaluations</p>
                <b class="m-0 ms-auto text-primary">@Model.Evaluations.Select(e => e.Note).Average().ToString("0.##")</b>
            </div>
            <div class="border border-dark rounded-2 p-2 m-0">
                @foreach (EvaluationVM eval in Model.Evaluations)
                {
                    <div class="d-flex flex-row border-bottom border-primary mb-1 px-1">
                        <div>
                            <p class="m-0">@eval.NomEvaluateur</p>
                            <p class="m-0">@eval.Date.ToString("dd/MM/yyyy")</p>
                        </div>
                        <p class="m-0 ms-auto">@eval.Note.ToString("0.##")</p>
                    </div>                
                }
            </div>
        </div>
    }
</div>
